@keyframes move {
    0% {
        transform: translateY(0%);
    }
    50.001% {
        transform: translateY(100%);
    }
    50.999% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

svg.container {
    > mask {
        fill: white;
    }
    > path.flow {
        fill: gold;
    }
    > line.ray {
        stroke: gold;
        stroke-linecap: round;
        stroke-width: 1px;
        // animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
