@use "sass/palette";
@use "sass/text";

%lexeme {
    @include text.code;

    color: palette.$code-regular;

    &::selection {
        background-color: palette.$code-selection;
    }
}

span.hp-class-lexeme {
    @extend %lexeme;
}
code.hp-class-lexeme-phrase {
    background-color: palette.$code-background;
    border-radius: 5pt;
    padding-left: 2pt;
    padding-right: 2pt;
}

figure.hp-class-code {
    @include text.code;

    margin: 0;
    background-color: rgb(37, 37, 38);

    > code {
        // grid
        display: grid;
        grid-template-columns: [index] auto [content] auto [break] auto;
        column-gap: 8pt;
        // size
        padding: 4pt;
        // text
        white-space: pre;
        // color
        background-color: palette.$code-background;

        overflow-x: auto;

        > span:nth-child(3n+1) {
            // grid-item
            grid-column: index / index;
            justify-self: end;
            // text
            color: palette.$code-index;
            // disable text selection
            -webkit-user-select     : none; // Chrome all / Safari all
            -moz-user-select        : none; // Firefox all
            -ms-user-select         : none; // IE 10+
            user-select             : none; // Likely future
        }
        > span:nth-child(3n+2) {
            // grid-item
            grid-column: content / content;
        }
        > br:nth-child(3n+3) {
            // grid-item
            grid-column: break / break;
        }
    }
}
figcaption.hp-class-code-header {
    width: min-content;
    padding: 4pt;
    background-color: palette.$code-background;
    color: white;
    white-space: pre;
    // flex
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    /*> img {
        height: 16pt;
    }*/
    > span.hp-class-icon {
        box-sizing: border-box;
        display: block;
        background-size: 20pt;
        background-position: center;
        background-repeat: no-repeat;
        width: 16pt;
        height: 16pt;
        color: transparent; // hide text stub when styles are enabled

        &[data-hp-type=javascript] {
            background-image: url(/media/icons/javascript.svg);
        }
        &[data-hp-type=c-sharp] {
            background-image: url(/media/icons/c-sharp.svg);
        }
        &[data-hp-type=c] {
            background-image: url(/media/icons/c.svg);
        }
        &[data-hp-type=cpp] {
            background-image: url(/media/icons/cpp.svg);
        }
        &[data-hp-type=python] {
            background-image: url(/media/icons/python.svg);
        }
        &[data-hp-type=lua] {
            background-image: url(/media/icons/lua.svg);
        }
    }
}
