%text-default {
    // font
    font-family             : Georgia,Cambria,serif;
    font-style              : normal;
    font-weight             : normal;
    font-feature-settings   : 'kern' 1,'onum' 1,'liga' 1;
    // text
    color                   : #373d49;
    text-decoration-line    : none;
}
%text-strong {
    // font
    font-family           : Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style            : normal;
    font-weight           : bold;
    font-feature-settings : 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    // text
    color                 : #373d49;
    text-decoration-line  : none;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    > body {
        max-width: 8.5in;
        margin-left: auto;
        margin-right: auto;

        > .header {
            border-top: 2mm solid #596268;

            > .icon {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                > .logo {
                    height: 1in;
                }
                > .quote {
                    @extend %text-default;

                    font-style: oblique;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
            > .navigation {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                > .button {
                    @extend %text-strong;

                    flex-grow: 1;
                    text-align: center;
                    border-bottom: 2mm solid #596268;

                    &:hover {
                        border-color: #d74444;
                        background-color: #e4ebf0;
                        color: #db7373;
                    }
                }
            }
        }
        > .content {
            > .document {
                > .header {
                    > .title {
                        @extend %text-strong;

                        text-align: center;
                    }
                }
                > .sections {
                    > .section {
                        > .title {
                            @extend %text-strong;
                        }
                        > .parts {
                            > .paragraph {
                                @extend %text-default;

                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        > .footer {
            @extend %text-strong;

            text-align: center;
            border-top: 2mm solid #596268;
            background-color: #e4ebf0;

            > .references {
                > .resources {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    > .resource {
                        @extend %text-strong;

                        flex-grow: 1;
                        text-align: center;
                        border-bottom: 2mm solid #596268;

                        &:hover {
                            border-color: #d74444;
                            background-color: #e4ebf0;
                            color: #db7373;
                        }
                    }
                }
            }
        }
    }
}
