@use "sass/palette";
@use "sass/text";

article.hp-class-document {
    // flex
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // size
    height: 100%;

    > header {
        > h1 {
            // text
            text-align: center;

            > span.hp-class-sentence {
                display: block;
            }
        }
    }
    > section {
        // flex
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;

        > h2 {
            // flex
            display: flex;
            flex-direction: row;
            // flex-item
            order: 1;
            flex-basis: 100%;
            // size
            margin-left: 8pt;
            margin-right: 8pt;

            > a {
                @include text.link;

                // flex
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                // flex-item
                order: 2;
                flex-grow: 1;
            }
        }
        > p {
            // flex-item
            order: 2;
            // text
            text-align: justify;
            // size
            margin-left: 8pt;
            margin-right: 8pt;

            > span.hp-class-sentence:first-child {
                margin-left: 16pt;
            }
        }
        > ul {
            // flex-item
            order: 2;
        }
        > figure {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            // flex-item
            order: 2;
            // size
            width: min-content;
            max-width: 100%;
            padding: 4pt;
            // border
            border-width: 2pt;
            border-style: dashed;
            border-color: rgb(30, 30, 30);

            > code.hp-class-code {
                // scroll
                max-width: 100%;
                overflow-x: auto;
            }
            > article.hp-class-explorer {
                background-color: rosybrown;

                > header {
                    > nav {
                        ul {
                            list-style-type: none;
                            padding: 0;

                            > li {
                                > label {
                                    white-space: pre;

                                    > input {
                                        position: absolute;
                                        opacity: 0;
                                        cursor: pointer;
                                        height: 0;
                                        width: 0;

                                        &:checked {
                                            background-color: red;
                                        }
                                        &::after {
                                            content: "*";
                                        }
                                    }
                                    > input + .hp-class-radio {
                                        background-color: blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > figcaption {
                > h3 {
                    // text
                    white-space: pre;
                    text-align: center;
                    // size
                    margin: 0;

                    > a {
                        @include text.link;
                    }
                }
                > p {
                    // text
                    text-align: center;
                    // size
                    margin: 0;
                }
            }
        }
    }
    > footer {
        // flex
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        // flex-item
        flex-grow: 1;

        > table {
            // border
            border-top: 2pt dashed palette.$text-regular;
            // size
            width: 100%;
        }
    }
}
