@use "sass/text.scss";
@use "sass/palette.scss";

article.hp-class-index {
    margin-left: 4pt;
    margin-right: 4pt;

    > header {
        // text
        text-align: center;
    }
    > section > ul {
        // debug
        // background-color: tomato;
        // ul
        list-style-type: none;
        // size
        padding: 0;

        > li {
            // size
            padding-left: 4pt;
            // border
            border-left-color: palette.$text-regular;
            border-left-width: 16pt;
            border-left-style: solid;

            &:hover {
                border-color: palette.$text-hover;
                background-color: palette.$background-highlight;
            }

            > article {
                > header {
                    > h2 {
                        > a {
                            &:hover {
                                * {
                                    color: palette.$text-hover;
                                }
                            }
                        }
                    }
                }
                > footer {
                    @include text.regular;

                    text-align: right;
                }
            }
        }
    }
}
