@use "sass/palette";
@use "sass/text";

figure.hp-class-code[data-hp-language=javascript] > code > span:nth-child(3n+2),
code.hp-class-lexeme-phrase[data-hp-language=javascript] {
    > span.hp-class-lexeme {
        &.hp-class-keyword-lexeme {
            color: palette.$code-macro;

            &[name=const],
            &[name=let],
            &[name=this],
            &[name=new],
            &[name=arguments],
            &[name=class],
            &[name=extends],
            &[name=using],
            &[name=namespace],
            &[name=auto],
            &[name=function] {
                color: palette.$code-keyword;
            }
        }
        &.hp-class-identifier-lexeme {
            color: palette.$code-variable;

            &[type=variable][name=exports],
            &[type=variable][name=module] {
                color: palette.$code-class;
            }
            &[type=function] {
                color: palette.$code-function;
            }
            &[type=class] {
                color: palette.$code-class;
            }
            &[name=void],
            &[name=int],
            &[name=float] {
                color: palette.$code-keyword;
            }
        }
        &.hp-class-comment-lexeme {
            color: palette.$code-comments;
        }
        &.hp-class-literal-lexeme {
            &[type=boolean] {
                color: palette.$code-keyword;
            }
            &[type=number] {
                color: palette.$code-number;
            }
            &[type=string] {
                color: palette.$code-string;
            }
        }
    }
}
