$background-highlight: rgb(140, 181, 204, 0.2);

$text-regular: #373d49;
$text-important: cornflowerblue;
$text-hover: tomato;

$code-background: rgb(30, 30, 30);
$code-index: rgb(133, 133, 133);
$code-space: rgb(61, 62, 61);
$code-regular: rgb(212, 212, 212);
$code-selection: rgb(38, 79, 120);
$code-comments: rgb(106, 153, 85);
$code-variable: rgb(156, 220, 254);
$code-keyword: rgb(86, 156, 214);
$code-macro: rgb(197, 134, 192);
$code-number: rgb(181, 206, 168);
$code-string: rgb(206, 145, 120);
$code-class: rgb(78, 201, 176);
$code-regex: rgb(209, 105, 105);
$code-function: rgb(220, 220, 170);
