.article {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    > header {
        > h2 {
            > span {
                display: block;
                text-align: center;
            }
        }
    }
    > footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
    }
}
