.article {
    height: 100%;
    // grid
    display: grid;
    grid-template-rows: [header] max-content [main] auto [footer] max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";

    > header {
        grid-area: header;
    }
    > footer {
        grid-area: footer;
    }
}
