.article {
    height: 100%;
    // grid
    display: grid;
    grid-template-rows: [header] max-content [main] auto [footer] max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
    align-items: start;

    > header {
        grid-area: header;

        > h2 {
            > span {
                display: block;
                text-align: center;
            }
        }
    }
    > footer {
        grid-area: footer;
    }
}
