.figure {
    width: max-content;
    background-color: whitesmoke;
    // // background-color: crimson;
    border-radius: 12pt;
    padding: 1pt;
    margin: 2pt;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-decoration-line: none;
    box-shadow: 2pt 2pt 4pt rgb(0, 0, 0, 0.2);
    border-left: 4pt solid crimson;

    &:hover {
        background-color: crimson;
    }

    > svg {
        margin: 1pt;
        padding: 0.02in;
        max-height: 0.2in;
        max-width: 0.2in;
        background-color: white;
        border-radius: 50%;
        box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.2);
    }
    > figcaption {
        margin: 2pt;
        margin-left: 4pt;
        margin-right: 8pt;
        color: rgb(30, 30, 30);
        display: flex;
        flex-direction: row;
        align-items: center;
        // font-family: ;
    }
}
