@use './typography.module.scss';

.badge {
    width: max-content;

    > figure {
        width: max-content;
        background-color: whitesmoke;
        border-radius: 12pt;
        padding: 1pt;
        margin: 2pt;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        text-decoration-line: none;
        box-shadow: 2pt 2pt 4pt rgb(0, 0, 0, 0.2);
        border-left: 4pt solid crimson;

        > span {
            margin: 1pt;
            background-color: white;
            border-radius: 50%;
            box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;

            > svg {
                margin: 0.05in;
                height: 0.18in;
                width: 0.18in;
            }
        }
        > figcaption {
            @include typography.link;

            margin: 2pt;
            margin-left: 4pt;
            margin-right: 8pt;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    &:hover {
        > figure {
            background-color: crimson;

            > figcaption {
                color: white;
            }
        }
    }
}
