$color-back : rgb(30, 30, 30);
$color-select: rgb(38, 79, 120);
$color-regular : rgb(212, 212, 212);
$color-index : rgb(133, 133, 133);
$color-dot : rgb(61, 62, 61);
$color-comment : rgb(106, 153, 85);
$color-keyword : rgb(86, 156, 214);
$color-macro : rgb(197, 134, 192);
$color-variable : rgb(156, 220, 254);
$color-function : rgb(220, 220, 170);
$color-class :  rgb(78, 201, 176);
$color-number : rgb(181, 206, 168);
$color-string : rgb(206, 145, 120);
$color-regex : rgb(209, 105, 105);

.code {
    width: min-content;
    background-color: $color-back;
    color: $color-regular;
    font-family: consolas;
    padding: 8pt;
    border-radius: 8pt;

    display: grid;
    grid-template-columns: [index] min-content [content] auto;
    justify-content: center;

    > span:nth-child(3n + 1) {
        padding-right: 4pt;
        grid-column: index;
        color: $color-index;
        // disable text selection
        -webkit-user-select : none; // Chrome all / Safari all
        -moz-user-select    : none; // Firefox all
        -ms-user-select     : none; // IE 10+
        user-select         : none; // Likely future
    }
    > span:nth-child(3n + 2) {
        grid-column: content;
        white-space: pre;

        &::selection, *::selection {
            background-color: $color-select;
        }

        .dot {
            color: $color-dot;
        }
        .comment {
            color: $color-comment;
        }
        .keyword {
            color: $color-keyword;

            &[data-text=if],
            &[data-text=switch],
            &[data-text=case],
            &[data-text=yield],
            &[data-text=return] {
                color: $color-macro;
            }
        }
        .variable {
            color: $color-variable;
        }
        .function {
            color: $color-function;
        }
        .macro {
            color: $color-macro;
        }
        .class {
            color: $color-class;

            &[data-text=void],
            &[data-text=bool],
            &[data-text=int],
            &[data-text=float],
            &[data-text=char]
            {
                color: $color-keyword;
            }
        }
        .boolean {
            color: $color-keyword;
        }
        .number {
            color: $color-number;
        }
        .string {
            color: $color-string;
        }
        .regex {
            color: $color-regex;
        }
    }
}
