.code {
    width: min-content;
    background-color: rgb(30, 30, 30);
    color: rgb(212, 212, 212);
    font-family: consolas;
    padding: 8pt;
    border-radius: 8pt;

    display: grid;
    grid-template-columns: [index] min-content [content] auto;
    justify-content: center;

    > span:nth-child(3n + 1) {
        padding-right: 4pt;
        grid-column: index;
        color: rgb(133, 133, 133);
    }
    > span:nth-child(3n + 2) {
        grid-column: content;
        white-space: pre;

        .dot {
            color: rgb(61, 62, 61);
        }
        .comment {
            color: rgb(106, 153, 85);
        }
        .keyword {
            color: rgb(86, 156, 214);

            &[data-text=if] {
                color: rgb(197, 134, 192);
            }
        }
        .variable {
            color: rgb(156, 220, 254);
        }
        .function {
            color: rgb(220, 220, 170);
        }
        .macro {
            color: rgb(197, 134, 192);
        }
        .class {
            color: rgb(78, 201, 176);
        }
        .string {
            color: rgb(206, 145, 120);
        }
    }
}
