@use "./palette.module.scss";
@use "./lexemes.module.scss";

.code {
    width: min-content;
    background-color: palette.$color-back;
    padding: 8pt;
    border-radius: 8pt;

    display: grid;
    grid-template-columns: [index] min-content [content] auto;
    justify-content: center;

    > span:nth-child(3n + 1) {
        font-family: consolas;
        padding-right: 4pt;
        grid-column: index;
        color: palette.$color-index;
        // disable text selection
        -webkit-user-select : none; // Chrome all / Safari all
        -moz-user-select    : none; // Firefox all
        -ms-user-select     : none; // IE 10+
        user-select         : none; // Likely future
    }
    > span:nth-child(3n + 2) {
        grid-column: content;

        @extend %lexemes;
    }
}
