.illustration {
    width: min-content;
    padding: 4pt;
    border-radius: 16pt;
    border-left: 4pt solid crimson;
    box-shadow: 4pt 4pt 8pt rgb(0, 0, 0, 0.2);

    > figcaption {
        text-align: center;

        > h4 {
            margin-top: 4pt;
            margin-bottom: 4pt;
        }
        > p {
            font-size: smaller;
            margin-top: 4pt;
            margin-bottom: 4pt;

            > span {
                text-align: center;
            }
        }
    }
}
