@use "./typography.module.scss";

.article {
    max-width: min(8.5in, 100%);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // grid
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    @include typography.regular;

    a {
        @include typography.link;
    }
    h1, h2, h3, h4, h5, h6 {
        @include typography.strong;
    }

    > header {
        flex-grow: 0;
        grid-area: header;
    }
    > main {
        flex-grow: 1;
        padding: 4pt;
    }
    > footer {
        flex-grow: 0;
    }
}
