@use "./typography.module.scss";

.article {
    max-width: 8.5in;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // grid
    display: grid;
    grid-template-rows: [header] max-content [main] auto [footer] max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";

    @include typography.regular;

    a {
        @include typography.link;
    }
    h1, h2, h3, h4, h5, h6 {
        @include typography.strong;
    }

    > header {
        grid-area: header;
    }
    > main {
        grid-area: main;
        align-self: stretch;
    }
    > footer {
        grid-area: footer;
    }
}
