.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    > h3 {
        flex-grow: 1;
        width: 100%;
    }
    > p {
        text-align: justify;
    }
    > ul {
        text-align: justify;
    }
}
