.svg {
    width            : 400pt;
    background-color : rgb(30, 30, 30);
    border-radius    : 16pt;

    > .circle {
        fill         : crimson;
        stroke       : rgb(212, 212, 212);
        stroke-width : 0.5;
        cursor       : pointer;

        &:hover {
            stroke : crimson;
        }
    }
    > .target {
        fill         : royalblue;
        stroke       : rgb(212, 212, 212);
        stroke-width : 0.5;
        cursor       : pointer;

        &:hover {
            stroke : royalblue;
        }
    }
    > .line {
        stroke       : rgb(212, 212, 212);
        stroke-width : 0.5;
        stroke-dasharray: 2 2;
    }
    > .transparent {
        fill: transparent;

        &:hover {
            fill: adjust-color($color: crimson, $alpha: -0.8);
        }
    }
    > .radius {
        fill         : none;
        stroke       : crimson;
        stroke-width : 0.5;
        stroke-dasharray: 2 1;
    }
    // > .direction {
    //     stroke       : rgba(crimson, 0.4);
    //     stroke-width : 0.5;
    //     stroke-dasharray: 2 2;
    // }
    // > .text {
    //     font-size         : 6pt;
    //     fill              : rgb(212, 212, 212);
    //     stroke            : rgb(30, 30, 30);
    //     stroke-width      : 0.1;
    //     text-anchor       : start;
    //     dominant-baseline : text-before-edge;
    // }
}
