rect.hp-class-stage {
    fill: antiquewhite;
    stroke: black;
}
rect.hp-class-group {
    fill: transparent;
    stroke: orangered;
    stroke-dasharray: 8 4;
    stroke-width: 3px;
}
text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: Georgia, Cambria, serif;
    font-weight: bold;
}
path.hp-class-arrow {
    fill: royalblue;
}
