rect {
    fill: white;
    stroke: black;
}
text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: Georgia, Cambria, serif;
    font-weight: bold;
}
path.hp-class-arrow {
    fill: royalblue;
}
