line.hp-class-delimiter {
    stroke : rgba(0,0,0,0.25);
    stroke-width : 1;
    stroke-dasharray : 2,2;
}
rect.hp-class-pixel {
    fill: black;
    stroke : gray;
    stroke-width : 1;
}
circle.hp-class-point {
    fill: red;
    stroke: black;
    stroke-width: 2;
}
circle.hp-class-point:hover {
    fill: black;
    stroke: orange;
    stroke-width: 2;
}
line.hp-class-line {
    stroke : orange;
    stroke-width : 1;
}
